@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  /* hover */
  --color-state-hove: var(--state-hover);

  /* border */
  --color-outline-border: var(--outline-border);
  --color-panel-border: var(--panel-border);
  --color-test-border: var(--test-border);

  /* divider */
  --color-divider: var(--divider);

  /* text */
  --color-tertiary: var(--text-tertiary);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);

  /* background */
  --color-panel-bg: var(--panel-bg);
  --color-test-bg: var(--test-bg);
  --color-component-panel-bg: var(--component-panel-bg);

  /* TODO */
  --color-background-burn: var(--background-burn);
  --color-background-subtle: var(--background-subtle);

  --color-effects-highlight: var(--border-effects-highlight);
  --color-foreground: var(--foreground);

  /* --color-primary: var(--primary); */
  --color-hover-primary: var(--primary-hover);

  --color-warning: var(--warning);
  --color-hover-warning: var(--warning-hover);

  --color-danger: var(--danger);
  --color-hover-danger: var(--danger-hover);

  --text-small: var(--text-small);
  --text-regular: var(--text-regular);
  --text-header-6: var(--text-header-6);
  --text-header-5: var(--text-header-5);
  --text-header-4: var(--text-header-4);
  --text-header-3: var(--text-header-3);
  --text-header-2: var(--text-header-2);
  --text-header-1: var(--text-header-1);

  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  /* --color-primary: var(--primary); */
  /* --color-tertiary: var(--tertiary); */

  /* Text */

  /* --color-divider: var(--divider); */

  --color-primary-foreground: var(--primary-foreground);
  /* --color-secondary: var(--secondary); */
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  /* --color-accent: var(--accent); */
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-sm: 3px;
  --radius-md: calc(var(--radius) - 2px);
  /* --radius-lg: var(--radius-large); */
  --radius-xl: 0.75rem;
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-mask: var(--mask);

  --color-destructive: var(--destructive);
  --color-input-primary: var(--input-primary) /* rgb(255 255 255/0) , rgb(16 24 40/0.08) */;
  --color-input-destructive: var(--input-destructive) /* rgb(255 255 255/0) , rgb(16 24 40/0.08) */;
  --color-input-placeholder: var(--input-placeholder);
  --color-accent: var(--accent);

  --color-test: oklch(0.2099 0.0341 263.44 / 8%);

  --color-panda-primary: var(--panda-color-primary);
  --color-panda-secondary: var(--panda-color-secondary);
  --color-panda-tertiary: var(--panda-color-tertiary);
  --color-panda-warning: var(--panda-color-warning);
  --color-panda-danger: var(--panda-color-danger);
}

:root {
  /* --radix-dropdown-menu-trigger-width: 200px; */

  --radius: 0.625rem;

  --primary: #0664ff;

  --primary-hover: #0062d6;

  --warning: #fc8800;
  --warning-hover: red;

  --danger: #f93920;
  --danger-hover: #f93920;

  --radius-small: 3px;
  --radius-medium: 6px;
  --radius-large: 8px;

  --text-small: 12px;
  --text-regular: 14px;
  --text-header-6: 16px;
  --text-header-5: 18px;
  --text-header-4: 20px;
  --text-header-3: 24px;
  --text-header-2: 28px;
  --text-header-1: 32px;

  --semi-color-primary: #0064fa;
  --semi-color-secondary: #0095ee;
  --semi-color-tertiary: #687075;
  --semi-color-warning: #fc8800;
  --semi-color-danger: #f93920;

  /* --bg-0: rgba(var(--semi-white), 1); */
  /* --bg-1: rgba(var(--semi-white), 1); */
  /* --bg-2: rgba(var(--semi-white), 1); */
  /* --bg-3: rgba(var(--semi-white), 1); */
  /* --bg-4: rgba(var(--semi-white), 1); */
}

html[data-theme='dark'] {
  /*  */
  --panda-color-primary: #54a9ff;
  --panda-color-primary-hover: rgba(0, 98, 214, 1);

  --panda-color-secondary: #40b4f3;
  --panda-color-secondary-hover: rgba(0, 98, 214, 1);

  --panda-color-tertiary: #888d92;
  --panda-color-tertiary-hover: rgba(0, 98, 214, 1);

  --panda-color-warning: #ffae43;
  --panda-color-warning-hover: rgba(0, 98, 214, 1);

  --panda-color-danger: #fc725a;
  --panda-color-danger-hover: rgba(0, 98, 214, 1);

  /*  */
  /* hover */
  --state-hover: oklch(0.8504 0.0179 264.47 / 8%);

  /* divider */
  --divider: oklch(0.8504 0.0179 264.47 / 14%);

  /* text */
  --text-primary: oklch(0.9884 0.0013 286.38);
  --text-tertiary: oklch(0.8504 0.0179 264.47 / 60%);
  --text-secondary: oklch(0.8868 0.0068 286.26);
  /* border */
  --outline-border: oklch(1 0 0 / 8%);
  --panel-border: oklch(0.8504 0.0179 264.47 / 14%);
  --test-border: oklch(0.8504 0.0179 264.47 / 8%);
  /* background */
  --panel-bg: oklch(0.2947 0.0072 285.95 / 95%);
  --test-bg: rgb(24 24 27/0.6);
  --component-panel-bg: #222225;

  --primary: oklch(0.7202 0.1506 250.93);

  --accent: oklab(0.85 0 -0.02 / 0.08);
  --destructive: oklch(0.6412 0.2299 30.99);

  --input-primary: oklch(1 0 0 / 12%);
  --input-destructive: oklch(0.7137 0.1737 31.7 / 20%);
  --input-placeholder: oklch(0.9821 0 0 / 60%);

  --background-burn: oklch(0.232 0.0057 285.95);
  --background-subtle: oklch(0.2532 0.0056 285.99);

  --border-effects-highlight: #c8ceda14;
  --foreground-primary: rgb(200 206 218/0.6);
  --foreground-tertiary: rgb(200 206 218/0.6);

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);

  /* --divider: rgb(200 206 218/0.14); */
  --mask: rgb(0 0 0/0);

  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  /* --accent: oklch(0.371 0 0); */
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

html[data-theme='light'] {
  --panda-color-primary: #0064fa;
  --panda-color-primary-hover: rgba(0, 98, 214, 1);

  --panda-color-secondary: #0095ee;
  --panda-color-primary-hover: rgba(0, 98, 214, 1);

  --panda-color-tertiary: #687075;
  --panda-color-primary-hover: rgba(0, 98, 214, 1);

  --panda-color-warning: #fc8800;
  --panda-color-primary-hover: rgba(0, 98, 214, 1);

  --panda-color-danger: #f93920;
  --panda-color-primary-hover: rgba(0, 98, 214, 1);

  /* hover */
  --state-hover: oklch(0.8504 0.0179 264.47 / 20%);

  /* divider */
  --divider: oklch(0.2099 0.0341 263.44 / 8%);

  /* text */
  --text-primary: oklch(0.2099 0.0341 263.44);
  --text-tertiary: oklch(0.5422 0.0328 268.08);
  --text-secondary: oklch(0.3693 0.0344 260.17);

  /* border */
  --outline-border: oklch(0.2099 0.0341 263.44 / 14%);
  --panel-border: oklch(0.2099 0.0341 263.44 / 8%);
  --test-border: oklch(1 0 0 / 0%);

  /* background */
  --panel-bg: oklch(1 0 0 / 95%);
  /* --test-bg: oklch(0.8504 0.0179 264.47 / 25%); */
  --test-bg: #f2f4f7;
  --component-panel-bg: #fff;

  --primary: oklch(0.5554 0.237 260.8);

  --input-primary: oklch(0.3156 0.0121 258.37 / 5%);
  --input-destructive: oklch(0.9692 0.0146 44.18);
  --input-placeholder: oklch(0.2379 0.0089 255.6 / 62%);

  --destructive: oklch(0.6412 0.2299 30.99);

  --background-burn: #e9ebf0;
  --background-subtle: #fcfcfd;
  --border-effects-highlight: #ffffff;
  --foreground-primary: #101828;
  --foreground-tertiary: #676f83;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  /* --divider: rgb(16 24 40/0.08); */
  --mask: rgb(255 255 255/0);

  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: rgb(200 206 218/0.2);

  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 80%;
  max-width: 500px;
  height: auto;
  max-height: 500px;
  border: none;
  border-radius: 12px;
  background-color: white;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 500;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  border-radius: 15px; /* Circular shape */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px; /* Adjust font size as needed */
}

.close-button:hover {
  background-color: #eee;
}

.close-button:after {
  content: 'x';
  color: black;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #eee;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
  max-width: 200px;
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card {
    width: 80%;
  }
}

/* From Uiverse.io by Nawsome */
.loadingspinner {
  --square: 26px;
  --offset: 30px;
  --duration: 2.4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;
  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;
  width: calc(3 * var(--offset) + var(--square));
  height: calc(2 * var(--offset) + var(--square));
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
}

.loadingspinner div {
  display: inline-block;
  background: darkorange;
  /*background: var(--text-color);*/
  /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
  border: none;
  border-radius: 2px;
  width: var(--square);
  height: var(--square);
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: 6pt;
  color: black;
}

.loadingspinner #square1 {
  left: calc(0 * var(--offset));
  top: calc(0 * var(--offset));
  animation:
    square1 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square2 {
  left: calc(0 * var(--offset));
  top: calc(1 * var(--offset));
  animation:
    square2 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square3 {
  left: calc(1 * var(--offset));
  top: calc(1 * var(--offset));
  animation:
    square3 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square4 {
  left: calc(2 * var(--offset));
  top: calc(1 * var(--offset));
  animation:
    square4 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square5 {
  left: calc(3 * var(--offset));
  top: calc(1 * var(--offset));
  animation:
    square5 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes square1 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square2 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(2 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }
}

@keyframes square3 {
  0%,
  100% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square4 {
  0% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(2 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square5 {
  0% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(0 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
